#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

MESON_OPTS=--wrap-mode=default -Dtweaks-data-dir=''

ifeq ($(filter nodoc,$(DEB_BUILD_PROFILES)),)
  MESON_OPTS+=-Dman=true
else
  MESON_OPTS+=-Dman=false
endif

ifeq ($(filter pkg.phosh-mobile-settings.no-gcc-panels,$(DEB_BUILD_PROFILES)),)
  MESON_OPTS+=-Dgcc-panels=true -Dgcc-po=true
else
  MESON_OPTS+=-Dgcc-panels=false
endif

%:
	dh $@ --builddirectory=_build

override_dh_auto_configure:
	dh_auto_configure -- $(MESON_OPTS)

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp -- --skip-subprojects=g-c-c
